In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import tqdm
sns.set()

In [2]:
def change_type(df, col, type_):
    df[col] = df[col].astype(type_)
    return df

In [3]:
train_data = pd.read_csv('train_data.csv')

In [4]:
train_data.shape

(27956445, 17)

In [5]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27956445 entries, 0 to 27956444
Data columns (total 17 columns):
 #   Column                      Dtype
---  ------                      -----
 0   ID                          object
 1   geoCluster                  int64
 2   SKU                         int64
 3   date                        object
 4   sales                       float64
 5   month                       int64
 6   day                         int64
 7   weekday                     int64
 8   week_num                    int64
 9   lagerUnitType_caption       object
 10  commodity_group             int64
 11  productCategory_caption_RU  object
 12  cityId                      int64
 13  price                       float64
 14  lagerUnitQuantity           float64
 15  lagerUnitTypeId             int64
 16  revanue                     float64
dtypes: float64(4), int64(9), object(4)
memory usage: 3.5+ GB

In [6]:
train_data.commodity_group.max()

198

In [7]:
train_data.cityId.max()

25

In [8]:
train_data.lagerUnitTypeId.max()

6

In [9]:
train_data.SKU.max()

873803

In [10]:
train_data.geoCluster.max()

3230

In [11]:
train_data = change_type(train_data, 'geoCluster', 'uint16')
train_data = change_type(train_data, 'SKU', 'uint32')
train_data = change_type(train_data, 'commodity_group', 'uint8')
train_data = change_type(train_data, 'cityId', 'uint8')
train_data = change_type(train_data, 'lagerUnitTypeId', 'uint8')

In [12]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27956445 entries, 0 to 27956444
Data columns (total 17 columns):
 #   Column                      Dtype
---  ------                      -----
 0   ID                          object
 1   geoCluster                  uint16
 2   SKU                         uint32
 3   date                        object
 4   sales                       float64
 5   month                       int64
 6   day                         int64
 7   weekday                     int64
 8   week_num                    int64
 9   lagerUnitType_caption       object
 10  commodity_group             uint8
 11  productCategory_caption_RU  object
 12  cityId                      uint8
 13  price                       float64
 14  lagerUnitQuantity           float64
 15  lagerUnitTypeId             uint8
 16  revanue                     float64
dtypes: float64(4), int64(4), object(4), uint16(1), uint32(1), uint8(3)
memory usage: 2.7+ GB

In [13]:
sku_meta = pd.read_csv('../sku_final.csv')

In [14]:
geo_params = pd.read_csv('../geo_params.csv')

In [15]:
test_data = pd.read_csv('../test_data.csv')

In [16]:
test_data.head()

          ID  geoCluster    SKU        date  price
0  RR1666030          21  32485  2021-07-20  66.69
1  RR1666031          21  32485  2021-07-21  66.69
2  RR1666032          21  32485  2021-07-22  66.69
3  RR1666033          21  32485  2021-07-23  66.69
4  RR1666034          21  32485  2021-07-24  66.69

In [17]:
train_data = train_data.sort_values(by=['week_num'])

In [18]:
train_data['week_num'].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51,
       52, 53])

In [19]:
train_data[train_data['week_num'].isin([51,53])].sales.mean()

0.24557248818772934

In [20]:
test_data['geoCluster'].value_counts()

2043    12950
2022    12558
2049    12516
2735    11984
1935    11648
        ...
607        14
1690       14
2668       14
287        14
459        14
Name: geoCluster, Length: 515, dtype: int64

In [21]:
train_data = train_data.sort_values(by=['geoCluster', 'SKU','date'])

In [22]:
test_data = test_data.merge(sku_meta, on='SKU', how='inner')
test_data = test_data.merge(geo_params, on=['geoCluster'], how='inner')

In [23]:
test_data.shape

(1666028, 25)

In [24]:
test_data.head()

,ID,geoCluster,SKU,date,price,productCategoryId,productCategory_caption_UKR,productCategory_caption_RU,productCategory_caption_ENG,productTypeId,...,lagerUnitTypeId,lagerUnitType_caption,trademark,countryOfOrigin,countryOfOrigin_caption,commodity_group,commodity_group_caption_UKR,commodity_group_caption_RU,commodity_group_caption_ENG,cityId
0,RR1666030,21,32485,2021-07-20,66.69,5381.0,Банан,Банан,Banana,4752.0,...,1,г,NaN,NaN,NaN,5551018,Фрукти тропічні,Фрукты тропические,Tropical fruits,1
1,RR1666031,21,32485,2021-07-21,66.69,5381.0,Банан,Банан,Banana,4752.0,...,1,г,NaN,NaN,NaN,5551018,Фрукти тропічні,Фрукты тропические,Tropical fruits,1
2,RR1666032,21,32485,2021-07-22,66.69,5381.0,Банан,Банан,Banana,4752.0,...,1,г,NaN,NaN,NaN,5551018,Фрукти тропічні,Фрукты тропические,Tropical fruits,1
3,RR1666033,21,32485,2021-07-23,66.69,5381.0,Банан,Банан,Banana,4752.0,...,1,г,NaN,NaN,NaN,5551018,Фрукти тропічні,Фрукты тропические,Tropical fruits,1
4,RR1666034,21,32485,2021-07-24,66.69,5381.0,Банан,Банан,Banana,4752.0,...,1,г,NaN,NaN,NaN,5551018,Фрукти тропічні,Фрукты тропические,Tropical fruits,1

In [25]:
test_cols, train_cols = test_data.columns, train_data.columns
cols_to_use = set(train_cols).intersection(test_cols)

In [26]:
test_data = test_data[cols_to_use]

In [27]:
test_data.head()

,lagerUnitType_caption,productCategory_caption_RU,geoCluster,date,price,ID,lagerUnitQuantity,lagerUnitTypeId,cityId,commodity_group,SKU
0,г,Банан,21,2021-07-20,66.69,RR1666030,1.0,1,1,5551018,32485
1,г,Банан,21,2021-07-21,66.69,RR1666031,1.0,1,1,5551018,32485
2,г,Банан,21,2021-07-22,66.69,RR1666032,1.0,1,1,5551018,32485
3,г,Банан,21,2021-07-23,66.69,RR1666033,1.0,1,1,5551018,32485
4,г,Банан,21,2021-07-24,66.69,RR1666034,1.0,1,1,5551018,32485

In [28]:
full_data = pd.concat([train_data, test_data],axis=0)

In [29]:
full_data.shape

(29622473, 17)

In [30]:
import gc

In [31]:
dates_test = test_data['date'].unique()

In [32]:
full_data[full_data['date'].isin(dates_test)].shape

(1666028, 17)

In [33]:
test_data.shape

(1666028, 11)

In [34]:
full_data.tail()

,ID,geoCluster,SKU,date,sales,month,day,weekday,week_num,lagerUnitType_caption,commodity_group,productCategory_caption_RU,cityId,price,lagerUnitQuantity,lagerUnitTypeId,revanue
1666023,RR3305649,3095,642700,2021-07-29,NaN,NaN,NaN,NaN,NaN,кг,5550352,Сыры полутвердые крупнопористые,0,113.59,1.0,2,NaN
1666024,RR3305650,3095,642700,2021-07-30,NaN,NaN,NaN,NaN,NaN,кг,5550352,Сыры полутвердые крупнопористые,0,113.59,1.0,2,NaN
1666025,RR3305651,3095,642700,2021-07-31,NaN,NaN,NaN,NaN,NaN,кг,5550352,Сыры полутвердые крупнопористые,0,113.59,1.0,2,NaN
1666026,RR3305652,3095,642700,2021-08-01,NaN,NaN,NaN,NaN,NaN,кг,5550352,Сыры полутвердые крупнопористые,0,113.59,1.0,2,NaN
1666027,RR3305653,3095,642700,2021-08-02,NaN,NaN,NaN,NaN,NaN,кг,5550352,Сыры полутвердые крупнопористые,0,113.59,1.0,2,NaN

### cleaning memory

In [35]:
full_data = change_type(full_data, 'geoCluster', 'uint16')
full_data = change_type(full_data, 'SKU', 'uint32')
full_data = change_type(full_data, 'commodity_group', 'uint8')
full_data = change_type(full_data, 'cityId', 'uint8')
full_data = change_type(full_data, 'lagerUnitTypeId', 'uint8')

In [36]:
del train_data, sku_meta, geo_params;
gc.collect();

## creation of features

In [37]:
full_data.drop(columns=['lagerUnitType_caption'],inplace=True)

### days on the market

In [38]:
full_data['date'] = pd.to_datetime(full_data['date'])

In [39]:
unique_SKU_list = full_data.SKU.unique()
for sku in tqdm.tqdm(unique_SKU_list):
    min_date = full_data[full_data['SKU'] == sku]['date'].min()
    #print(min_date)
    full_data.loc[full_data['SKU'] == sku , 'days_on_the_market'] = full_data.loc[full_data['SKU'] == sku,'date'] - min_date
    #print(train_data[train_data['SKU'] == sku]['date'] - min_date)

100%|███████████████████████████████████████| 1961/1961 [08:30<00:00,  3.84it/s]

In [40]:
full_data['days_on_the_market']  = full_data['days_on_the_market'].dt.days

In [41]:
full_data['days_on_the_market'].mean()

271.0507787786658

In [44]:
groups = full_data[['date','geoCluster','SKU']].groupby(['geoCluster','SKU'], as_index=False,sort=False)

In [45]:
days_on_the_market_geo = groups['date'].transform(lambda x: x-x.min())

In [62]:
full_data['days_on_the_market_geo'] = days_on_the_market_geo

In [64]:
full_data['days_on_the_market_geo'] = full_data['days_on_the_market_geo'].dt.days

In [67]:
full_data = change_type(full_data, 'days_on_the_market_geo', 'int32')
full_data = change_type(full_data, 'days_on_the_market', 'int32')

In [68]:
full_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 29622473 entries, 0 to 1666027
Data columns (total 18 columns):
 #   Column                      Dtype
---  ------                      -----
 0   ID                          object
 1   geoCluster                  uint16
 2   SKU                         uint32
 3   date                        datetime64[ns]
 4   sales                       float64
 5   month                       float64
 6   day                         float64
 7   weekday                     float64
 8   week_num                    float64
 9   commodity_group             uint8
 10  productCategory_caption_RU  object
 11  cityId                      uint8
 12  price                       float64
 13  lagerUnitQuantity           float64
 14  lagerUnitTypeId             uint8
 15  revanue                     float64
 16  days_on_the_market          int32
 17  days_on_the_market_geo      int32
dtypes: datetime64[ns](1), float64(8), int32(2), object(2), uint16(1), uint32(1), uint8(3)
memory usage: 3.1+ GB

### max sales, min sales, max ravenue, min ravenue

In [69]:
def agg_feature(df, dates_to_exclude, to_groupby, to_agg, func='min'):
    if not isinstance(to_groupby, list):
        to_groupby = [to_groupby]
    result = df[~df['date'].isin(dates_to_exclude)].groupby(to_groupby,as_index=False).agg({to_agg:func})
    result = result.rename(columns={to_agg:to_agg+'_grouped_{}_{}'.format('_'.join(to_groupby),func)})
    df = df.merge(result, on=to_groupby, how='left')
    return df

In [72]:
full_data['date'] = pd.to_datetime(full_data['date'])
full_data['weekday'] = full_data['date'].dt.weekday
full_data['day'] = full_data['date'].dt.day
full_data['year'] = full_data['date'].dt.year
full_data['month'] = full_data['date'].dt.month
max_week = full_data[full_data['year']==2020]['week_num'].max()
max_month = full_data[full_data['year']==2020]['month'].max()
full_data['week_num'] = full_data['date'].dt.week
full_data['month_num'] = full_data['month']
full_data.loc[full_data['year']==2021, 'week_num'] = full_data.loc[full_data['year']==2021, 'week_num'].apply(lambda x: x+max_week)
full_data.loc[full_data['year']==2021, 'month_num'] = full_data.loc[full_data['year']==2021, 'month_num'].apply(lambda x: x+max_month)
full_data = change_type(full_data, 'month', 'uint8')
full_data = change_type(full_data, 'day', 'uint8')
full_data = change_type(full_data, 'weekday', 'uint8')
full_data = change_type(full_data, 'week_num', 'uint8')

/tmp/ipykernel_27699/295886148.py:8: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  full_data['week_num'] = full_data['date'].dt.week

In [73]:
full_data = agg_feature(full_data, dates_test, ['week_num','geoCluster'], 'sales', 'mean')
full_data = agg_feature(full_data, dates_test, ['week_num','geoCluster'], 'sales', 'sum')
full_data = agg_feature(full_data, dates_test, ['week_num','cityId'], 'sales', 'mean')
full_data = agg_feature(full_data, dates_test, ['week_num','commodity_group'], 'sales', 'mean')
full_data = agg_feature(full_data, dates_test, ['week_num','geoCluster'], 'revanue', 'sum')
full_data = agg_feature(full_data, dates_test, ['week_num','geoCluster'], 'revanue', 'mean')
full_data = agg_feature(full_data, dates_test, ['week_num','cityId'], 'revanue', 'mean')
full_data = agg_feature(full_data, dates_test, ['week_num','commodity_group'], 'revanue', 'mean')
full_data = agg_feature(full_data, dates_test, ['week_num','SKU'], 'revanue', 'mean')
full_data = agg_feature(full_data, dates_test, ['week_num','SKU'], 'sales', 'mean')
full_data = agg_feature(full_data, dates_test, ['week_num','SKU'], 'revanue', 'sum')
full_data = agg_feature(full_data, dates_test, ['week_num','SKU'], 'sales', 'sum')
full_data = agg_feature(full_data, dates_test, ['week_num','SKU','commodity_group'], 'revanue', 'mean')
full_data = agg_feature(full_data, dates_test, ['week_num','SKU','commodity_group'], 'sales', 'mean')
full_data = agg_feature(full_data, dates_test, ['week_num','SKU','commodity_group'], 'revanue', 'sum')
full_data = agg_feature(full_data, dates_test, ['week_num','SKU','commodity_group'], 'sales', 'sum')
full_data = agg_feature(full_data, dates_test, ['week_num','SKU','geoCluster'], 'revanue', 'mean')
full_data = agg_feature(full_data, dates_test, ['week_num','SKU','geoCluster'], 'sales', 'mean')
full_data = agg_feature(full_data, dates_test, ['week_num','SKU','geoCluster'], 'revanue', 'sum')
full_data = agg_feature(full_data, dates_test, ['week_num','SKU','geoCluster'], 'sales', 'sum')

In [74]:
full_data = agg_feature(full_data, dates_test, ['month_num','geoCluster'], 'sales', 'mean')
full_data = agg_feature(full_data, dates_test, ['month_num','geoCluster'], 'sales', 'sum')
full_data = agg_feature(full_data, dates_test, ['month_num','cityId'], 'sales', 'mean')
full_data = agg_feature(full_data, dates_test, ['month_num','commodity_group'], 'sales', 'mean')
full_data = agg_feature(full_data, dates_test, ['month_num','geoCluster'], 'revanue', 'sum')
full_data = agg_feature(full_data, dates_test, ['month_num','geoCluster'], 'revanue', 'mean')
full_data = agg_feature(full_data, dates_test, ['month_num','cityId'], 'revanue', 'mean')
full_data = agg_feature(full_data, dates_test, ['month_num','commodity_group'], 'revanue', 'mean')
full_data = agg_feature(full_data, dates_test, ['month_num','SKU'], 'revanue', 'mean')
full_data = agg_feature(full_data, dates_test, ['month_num','SKU'], 'sales', 'mean')
full_data = agg_feature(full_data, dates_test, ['month_num','SKU'], 'revanue', 'sum')
full_data = agg_feature(full_data, dates_test, ['month_num','SKU'], 'sales', 'sum')
full_data = agg_feature(full_data, dates_test, ['month_num','SKU','commodity_group'], 'revanue', 'mean')
full_data = agg_feature(full_data, dates_test, ['month_num','SKU','commodity_group'], 'sales', 'mean')
full_data = agg_feature(full_data, dates_test, ['month_num','SKU','commodity_group'], 'revanue', 'sum')
full_data = agg_feature(full_data, dates_test, ['month_num','SKU','commodity_group'], 'sales', 'sum')
full_data = agg_feature(full_data, dates_test, ['month_num','SKU','geoCluster'], 'revanue', 'mean')
full_data = agg_feature(full_data, dates_test, ['month_num','SKU','geoCluster'], 'sales', 'mean')
full_data = agg_feature(full_data, dates_test, ['month_num','SKU','geoCluster'], 'revanue', 'sum')
full_data = agg_feature(full_data, dates_test, ['month_num','SKU','geoCluster'], 'sales', 'sum')

In [75]:
full_data[full_data['date'].isin(dates_test)].shape

(1666028, 60)

In [76]:
full_data.week_num.unique()

array([ 80,  81,  82,  71,  72,  73,  74,  75,  76,  77,  78,  79,  69,
        70,  68,  67,  52,  53, 106,  54,  55,  56,  57,  58,  59,  60,
        61,  62,  63,  64,  65,  66,  48,  49,  50,  51,  47,  45,  46,
        17,  18,  19,  20,  21,  22,  23,  24,  25,  26,  27,  28,  29,
        30,  31,  32,  33,  34,  35,  36,  37,  38,  39,  40,  41,  42,
        43,  44,  16,  15,  14,   1,   2,   3,   4,   5,   6,   7,   8,
         9,  10,  11,  12,  13,  83,  84], dtype=uint8)

In [77]:
full_data[~full_data['date'].isin(dates_test)].isna().sum()

ID                                                    0
geoCluster                                            0
SKU                                                   0
date                                                  0
sales                                                 0
month                                                 0
day                                                   0
weekday                                               0
week_num                                              0
commodity_group                                       0
productCategory_caption_RU                            0
cityId                                                0
price                                                 0
lagerUnitQuantity                                     0
lagerUnitTypeId                                       0
revanue                                               0
days_on_the_market                                    0
days_on_the_market_geo                                0
year                                                  0
month_num                                             0
sales_grouped_week_num_geoCluster_mean                0
sales_grouped_week_num_geoCluster_sum                 0
sales_grouped_week_num_cityId_mean                    0
sales_grouped_week_num_commodity_group_mean           0
revanue_grouped_week_num_geoCluster_sum               0
revanue_grouped_week_num_geoCluster_mean              0
revanue_grouped_week_num_cityId_mean                  0
revanue_grouped_week_num_commodity_group_mean         0
revanue_grouped_week_num_SKU_mean                     0
sales_grouped_week_num_SKU_mean                       0
revanue_grouped_week_num_SKU_sum                      0
sales_grouped_week_num_SKU_sum                        0
revanue_grouped_week_num_SKU_commodity_group_mean     0
sales_grouped_week_num_SKU_commodity_group_mean       0
revanue_grouped_week_num_SKU_commodity_group_sum      0
sales_grouped_week_num_SKU_commodity_group_sum        0
revanue_grouped_week_num_SKU_geoCluster_mean          0
sales_grouped_week_num_SKU_geoCluster_mean            0
revanue_grouped_week_num_SKU_geoCluster_sum           0
sales_grouped_week_num_SKU_geoCluster_sum             0
sales_grouped_month_num_geoCluster_mean               0
sales_grouped_month_num_geoCluster_sum                0
sales_grouped_month_num_cityId_mean                   0
sales_grouped_month_num_commodity_group_mean          0
revanue_grouped_month_num_geoCluster_sum              0
revanue_grouped_month_num_geoCluster_mean             0
revanue_grouped_month_num_cityId_mean                 0
revanue_grouped_month_num_commodity_group_mean        0
revanue_grouped_month_num_SKU_mean                    0
sales_grouped_month_num_SKU_mean                      0
revanue_grouped_month_num_SKU_sum                     0
sales_grouped_month_num_SKU_sum                       0
revanue_grouped_month_num_SKU_commodity_group_mean    0
sales_grouped_month_num_SKU_commodity_group_mean      0
revanue_grouped_month_num_SKU_commodity_group_sum     0
sales_grouped_month_num_SKU_commodity_group_sum       0
revanue_grouped_month_num_SKU_geoCluster_mean         0
sales_grouped_month_num_SKU_geoCluster_mean           0
revanue_grouped_month_num_SKU_geoCluster_sum          0
sales_grouped_month_num_SKU_geoCluster_sum            0
dtype: int64

In [78]:
full_data.tail()

,ID,geoCluster,SKU,date,sales,month,day,weekday,week_num,commodity_group,...,revanue_grouped_month_num_SKU_sum,sales_grouped_month_num_SKU_sum,revanue_grouped_month_num_SKU_commodity_group_mean,sales_grouped_month_num_SKU_commodity_group_mean,revanue_grouped_month_num_SKU_commodity_group_sum,sales_grouped_month_num_SKU_commodity_group_sum,revanue_grouped_month_num_SKU_geoCluster_mean,sales_grouped_month_num_SKU_geoCluster_mean,revanue_grouped_month_num_SKU_geoCluster_sum,sales_grouped_month_num_SKU_geoCluster_sum
29622468,RR3305649,3095,642700,2021-07-29,NaN,7,29,3,83,16,...,46638.60637,176.25,8.85151,0.03345,46638.60637,176.25,0.0,0.0,0.0,0.0
29622469,RR3305650,3095,642700,2021-07-30,NaN,7,30,4,83,16,...,46638.60637,176.25,8.85151,0.03345,46638.60637,176.25,0.0,0.0,0.0,0.0
29622470,RR3305651,3095,642700,2021-07-31,NaN,7,31,5,83,16,...,46638.60637,176.25,8.85151,0.03345,46638.60637,176.25,0.0,0.0,0.0,0.0
29622471,RR3305652,3095,642700,2021-08-01,NaN,8,1,6,83,16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29622472,RR3305653,3095,642700,2021-08-02,NaN,8,2,0,84,16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [79]:
full_data.columns

Index(['ID', 'geoCluster', 'SKU', 'date', 'sales', 'month', 'day', 'weekday',
       'week_num', 'commodity_group', 'productCategory_caption_RU', 'cityId',
       'price', 'lagerUnitQuantity', 'lagerUnitTypeId', 'revanue',
       'days_on_the_market', 'days_on_the_market_geo', 'year', 'month_num',
       'sales_grouped_week_num_geoCluster_mean',
       'sales_grouped_week_num_geoCluster_sum',
       'sales_grouped_week_num_cityId_mean',
       'sales_grouped_week_num_commodity_group_mean',
       'revanue_grouped_week_num_geoCluster_sum',
       'revanue_grouped_week_num_geoCluster_mean',
       'revanue_grouped_week_num_cityId_mean',
       'revanue_grouped_week_num_commodity_group_mean',
       'revanue_grouped_week_num_SKU_mean', 'sales_grouped_week_num_SKU_mean',
       'revanue_grouped_week_num_SKU_sum', 'sales_grouped_week_num_SKU_sum',
       'revanue_grouped_week_num_SKU_commodity_group_mean',
       'sales_grouped_week_num_SKU_commodity_group_mean',
       'revanue_grouped_week_num_SKU_commodity_group_sum',
       'sales_grouped_week_num_SKU_commodity_group_sum',
       'revanue_grouped_week_num_SKU_geoCluster_mean',
       'sales_grouped_week_num_SKU_geoCluster_mean',
       'revanue_grouped_week_num_SKU_geoCluster_sum',
       'sales_grouped_week_num_SKU_geoCluster_sum',
       'sales_grouped_month_num_geoCluster_mean',
       'sales_grouped_month_num_geoCluster_sum',
       'sales_grouped_month_num_cityId_mean',
       'sales_grouped_month_num_commodity_group_mean',
       'revanue_grouped_month_num_geoCluster_sum',
       'revanue_grouped_month_num_geoCluster_mean',
       'revanue_grouped_month_num_cityId_mean',
       'revanue_grouped_month_num_commodity_group_mean',
       'revanue_grouped_month_num_SKU_mean',
       'sales_grouped_month_num_SKU_mean', 'revanue_grouped_month_num_SKU_sum',
       'sales_grouped_month_num_SKU_sum',
       'revanue_grouped_month_num_SKU_commodity_group_mean',
       'sales_grouped_month_num_SKU_commodity_group_mean',
       'revanue_grouped_month_num_SKU_commodity_group_sum',
       'sales_grouped_month_num_SKU_commodity_group_sum',
       'revanue_grouped_month_num_SKU_geoCluster_mean',
       'sales_grouped_month_num_SKU_geoCluster_mean',
       'revanue_grouped_month_num_SKU_geoCluster_sum',
       'sales_grouped_month_num_SKU_geoCluster_sum'],
      dtype='object')

### lag on aggregated features

In [80]:
full_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 29622473 entries, 0 to 29622472
Data columns (total 60 columns):
 #   Column                                              Dtype
---  ------                                              -----
 0   ID                                                  object
 1   geoCluster                                          uint16
 2   SKU                                                 uint32
 3   date                                                datetime64[ns]
 4   sales                                               float64
 5   month                                               uint8
 6   day                                                 uint8
 7   weekday                                             uint8
 8   week_num                                            uint8
 9   commodity_group                                     uint8
 10  productCategory_caption_RU                          object
 11  cityId                                              uint8
 12  price                                               float64
 13  lagerUnitQuantity                                   float64
 14  lagerUnitTypeId                                     uint8
 15  revanue                                             float64
 16  days_on_the_market                                  int32
 17  days_on_the_market_geo                              int32
 18  year                                                int64
 19  month_num                                           int64
 20  sales_grouped_week_num_geoCluster_mean              float64
 21  sales_grouped_week_num_geoCluster_sum               float64
 22  sales_grouped_week_num_cityId_mean                  float64
 23  sales_grouped_week_num_commodity_group_mean         float64
 24  revanue_grouped_week_num_geoCluster_sum             float64
 25  revanue_grouped_week_num_geoCluster_mean            float64
 26  revanue_grouped_week_num_cityId_mean                float64
 27  revanue_grouped_week_num_commodity_group_mean       float64
 28  revanue_grouped_week_num_SKU_mean                   float64
 29  sales_grouped_week_num_SKU_mean                     float64
 30  revanue_grouped_week_num_SKU_sum                    float64
 31  sales_grouped_week_num_SKU_sum                      float64
 32  revanue_grouped_week_num_SKU_commodity_group_mean   float64
 33  sales_grouped_week_num_SKU_commodity_group_mean     float64
 34  revanue_grouped_week_num_SKU_commodity_group_sum    float64
 35  sales_grouped_week_num_SKU_commodity_group_sum      float64
 36  revanue_grouped_week_num_SKU_geoCluster_mean        float64
 37  sales_grouped_week_num_SKU_geoCluster_mean          float64
 38  revanue_grouped_week_num_SKU_geoCluster_sum         float64
 39  sales_grouped_week_num_SKU_geoCluster_sum           float64
 40  sales_grouped_month_num_geoCluster_mean             float64
 41  sales_grouped_month_num_geoCluster_sum              float64
 42  sales_grouped_month_num_cityId_mean                 float64
 43  sales_grouped_month_num_commodity_group_mean        float64
 44  revanue_grouped_month_num_geoCluster_sum            float64
 45  revanue_grouped_month_num_geoCluster_mean           float64
 46  revanue_grouped_month_num_cityId_mean               float64
 47  revanue_grouped_month_num_commodity_group_mean      float64
 48  revanue_grouped_month_num_SKU_mean                  float64
 49  sales_grouped_month_num_SKU_mean                    float64
 50  revanue_grouped_month_num_SKU_sum                   float64
 51  sales_grouped_month_num_SKU_sum                     float64
 52  revanue_grouped_month_num_SKU_commodity_group_mean  float64
 53  sales_grouped_month_num_SKU_commodity_group_mean    float64
 54  revanue_grouped_month_num_SKU_commodity_group_sum   float64
 55  sales_grouped_month_num_SKU_commodity_group_sum     float64
 56  revanue_grouped_month_num_SKU_geoCluster_mean       float64
 57  sales_grouped_month_num_SKU_geoCluster_mean         float64
 58  revanue_grouped_month_num_SKU_geoCluster_sum        float64
 59  sales_grouped_month_num_SKU_geoCluster_sum          float64
dtypes: datetime64[ns](1), float64(44), int32(2), int64(2), object(2), uint16(1), uint32(1), uint8(7)
memory usage: 11.6+ GB

In [81]:
for i in full_data.columns:
    if 'float' in str(full_data[i].dtype):
            full_data[i] = full_data[i].astype('float16')

In [82]:
def lag_feature(df, lags, agg_columns, col, time_col='week_num'):
    agg_columns = agg_columns+[col]
    tmp = df[agg_columns]
    for i in lags:
        shifted = tmp.copy()
        shifted.columns = agg_columns[:-1]+[col+'_lag_'+str(i)]
        shifted[time_col] += i
        shifted = shifted.drop_duplicates(agg_columns[:-1])
        df = pd.merge(df, shifted, on=agg_columns[:-1], how='left')
        df[col+'_lag_'+str(i)] = df[col+'_lag_'+str(i)].fillna(0)
    df = df.drop(columns=col)
    return df

In [83]:
full_data = lag_feature(full_data, [2,3], ['week_num','commodity_group'], 'revanue_grouped_week_num_commodity_group_mean')
full_data = lag_feature(full_data, [2,3], ['week_num','cityId'], 'revanue_grouped_week_num_cityId_mean')
full_data = lag_feature(full_data, [2,3], ['week_num','geoCluster'], 'revanue_grouped_week_num_geoCluster_mean')
full_data = lag_feature(full_data, [2,3], ['week_num','geoCluster'], 'revanue_grouped_week_num_geoCluster_sum')
full_data = lag_feature(full_data, [2,3], ['week_num','commodity_group'], 'sales_grouped_week_num_commodity_group_mean')
full_data = lag_feature(full_data, [2,3], ['week_num','cityId'], 'sales_grouped_week_num_cityId_mean')
full_data = lag_feature(full_data, [2,3], ['week_num','geoCluster'], 'sales_grouped_week_num_geoCluster_mean')
full_data = lag_feature(full_data, [2,3], ['week_num','geoCluster'], 'sales_grouped_week_num_geoCluster_sum')
full_data = lag_feature(full_data, [2,3], ['week_num','SKU'], 'sales_grouped_week_num_SKU_mean')
full_data = lag_feature(full_data, [2,3], ['week_num','SKU'], 'sales_grouped_week_num_SKU_sum')
full_data = lag_feature(full_data, [2,3], ['week_num','SKU'], 'revanue_grouped_week_num_SKU_sum')
full_data = lag_feature(full_data, [2,3], ['week_num','SKU'], 'revanue_grouped_week_num_SKU_mean')
full_data = lag_feature(full_data, [2,3], ['week_num','SKU','commodity_group'], 'revanue_grouped_week_num_SKU_commodity_group_sum')
full_data = lag_feature(full_data, [2,3], ['week_num','SKU','commodity_group'], 'revanue_grouped_week_num_SKU_commodity_group_mean')
full_data = lag_feature(full_data, [2,3], ['week_num','SKU','geoCluster'], 'revanue_grouped_week_num_SKU_geoCluster_sum')
full_data = lag_feature(full_data, [2,3], ['week_num','SKU','geoCluster'], 'revanue_grouped_week_num_SKU_geoCluster_mean')
full_data = lag_feature(full_data, [2,3], ['week_num','SKU','commodity_group'], 'sales_grouped_week_num_SKU_commodity_group_sum')
full_data = lag_feature(full_data, [2,3], ['week_num','SKU','commodity_group'], 'sales_grouped_week_num_SKU_commodity_group_mean')
full_data = lag_feature(full_data, [2,3], ['week_num','SKU','geoCluster'], 'sales_grouped_week_num_SKU_geoCluster_sum')
full_data = lag_feature(full_data, [2,3], ['week_num','SKU','geoCluster'], 'sales_grouped_week_num_SKU_geoCluster_mean')

In [84]:
full_data = lag_feature(full_data, [1], ['month_num','commodity_group'], 'revanue_grouped_month_num_commodity_group_mean','month_num')
full_data = lag_feature(full_data, [1], ['month_num','cityId'], 'revanue_grouped_month_num_cityId_mean','month_num')
full_data = lag_feature(full_data, [1], ['month_num','geoCluster'], 'revanue_grouped_month_num_geoCluster_mean','month_num')
full_data = lag_feature(full_data, [1], ['month_num','geoCluster'], 'revanue_grouped_month_num_geoCluster_sum','month_num')
full_data = lag_feature(full_data, [1], ['month_num','commodity_group'], 'sales_grouped_month_num_commodity_group_mean','month_num')
full_data = lag_feature(full_data, [1], ['month_num','cityId'], 'sales_grouped_month_num_cityId_mean','month_num')
full_data = lag_feature(full_data, [1], ['month_num','geoCluster'], 'sales_grouped_month_num_geoCluster_mean','month_num')
full_data = lag_feature(full_data, [1], ['month_num','geoCluster'], 'sales_grouped_month_num_geoCluster_sum','month_num')
full_data = lag_feature(full_data, [1], ['month_num','SKU'], 'sales_grouped_month_num_SKU_mean','month_num')
full_data = lag_feature(full_data, [1], ['month_num','SKU'], 'sales_grouped_month_num_SKU_sum','month_num')
full_data = lag_feature(full_data, [1], ['month_num','SKU'], 'revanue_grouped_month_num_SKU_sum','month_num')
full_data = lag_feature(full_data, [1], ['month_num','SKU'], 'revanue_grouped_month_num_SKU_mean','month_num')
full_data = lag_feature(full_data, [1], ['month_num','SKU','commodity_group'], 'revanue_grouped_month_num_SKU_commodity_group_sum','month_num')
full_data = lag_feature(full_data, [1], ['month_num','SKU','commodity_group'], 'revanue_grouped_month_num_SKU_commodity_group_mean','month_num')
full_data = lag_feature(full_data, [1], ['month_num','SKU','geoCluster'], 'revanue_grouped_month_num_SKU_geoCluster_sum','month_num')
full_data = lag_feature(full_data, [1], ['month_num','SKU','geoCluster'], 'revanue_grouped_month_num_SKU_geoCluster_mean','month_num')
full_data = lag_feature(full_data, [1], ['month_num','SKU','commodity_group'], 'sales_grouped_month_num_SKU_commodity_group_sum','month_num')
full_data = lag_feature(full_data, [1], ['month_num','SKU','commodity_group'], 'sales_grouped_month_num_SKU_commodity_group_mean','month_num')
full_data = lag_feature(full_data, [1], ['month_num','SKU','geoCluster'], 'sales_grouped_month_num_SKU_geoCluster_sum','month_num')
full_data = lag_feature(full_data, [1], ['month_num','SKU','geoCluster'], 'sales_grouped_month_num_SKU_geoCluster_mean','month_num')

In [85]:
full_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 29622473 entries, 0 to 29622472
Data columns (total 80 columns):
 #   Column                                                    Dtype
---  ------                                                    -----
 0   ID                                                        object
 1   geoCluster                                                uint16
 2   SKU                                                       uint32
 3   date                                                      datetime64[ns]
 4   sales                                                     float16
 5   month                                                     uint8
 6   day                                                       uint8
 7   weekday                                                   uint8
 8   week_num                                                  uint8
 9   commodity_group                                           uint8
 10  productCategory_caption_RU                                object
 11  cityId                                                    uint8
 12  price                                                     float16
 13  lagerUnitQuantity                                         float16
 14  lagerUnitTypeId                                           uint8
 15  revanue                                                   float16
 16  days_on_the_market                                        int32
 17  days_on_the_market_geo                                    int32
 18  year                                                      int64
 19  month_num                                                 int64
 20  revanue_grouped_week_num_commodity_group_mean_lag_2       float16
 21  revanue_grouped_week_num_commodity_group_mean_lag_3       float16
 22  revanue_grouped_week_num_cityId_mean_lag_2                float16
 23  revanue_grouped_week_num_cityId_mean_lag_3                float16
 24  revanue_grouped_week_num_geoCluster_mean_lag_2            float16
 25  revanue_grouped_week_num_geoCluster_mean_lag_3            float16
 26  revanue_grouped_week_num_geoCluster_sum_lag_2             float16
 27  revanue_grouped_week_num_geoCluster_sum_lag_3             float16
 28  sales_grouped_week_num_commodity_group_mean_lag_2         float16
 29  sales_grouped_week_num_commodity_group_mean_lag_3         float16
 30  sales_grouped_week_num_cityId_mean_lag_2                  float16
 31  sales_grouped_week_num_cityId_mean_lag_3                  float16
 32  sales_grouped_week_num_geoCluster_mean_lag_2              float16
 33  sales_grouped_week_num_geoCluster_mean_lag_3              float16
 34  sales_grouped_week_num_geoCluster_sum_lag_2               float16
 35  sales_grouped_week_num_geoCluster_sum_lag_3               float16
 36  sales_grouped_week_num_SKU_mean_lag_2                     float16
 37  sales_grouped_week_num_SKU_mean_lag_3                     float16
 38  sales_grouped_week_num_SKU_sum_lag_2                      float16
 39  sales_grouped_week_num_SKU_sum_lag_3                      float16
 40  revanue_grouped_week_num_SKU_sum_lag_2                    float16
 41  revanue_grouped_week_num_SKU_sum_lag_3                    float16
 42  revanue_grouped_week_num_SKU_mean_lag_2                   float16
 43  revanue_grouped_week_num_SKU_mean_lag_3                   float16
 44  revanue_grouped_week_num_SKU_commodity_group_sum_lag_2    float16
 45  revanue_grouped_week_num_SKU_commodity_group_sum_lag_3    float16
 46  revanue_grouped_week_num_SKU_commodity_group_mean_lag_2   float16
 47  revanue_grouped_week_num_SKU_commodity_group_mean_lag_3   float16
 48  revanue_grouped_week_num_SKU_geoCluster_sum_lag_2         float16
 49  revanue_grouped_week_num_SKU_geoCluster_sum_lag_3         float16
 50  revanue_grouped_week_num_SKU_geoCluster_mean_lag_2        float16
 51  revanue_grouped_week_num_SKU_geoCluster_mean_lag_3        float16
 52  sales_grouped_week_num_SKU_commodity_group_sum_lag_2      float16
 53  sales_grouped_week_num_SKU_commodity_group_sum_lag_3      float16
 54  sales_grouped_week_num_SKU_commodity_group_mean_lag_2     float16
 55  sales_grouped_week_num_SKU_commodity_group_mean_lag_3     float16
 56  sales_grouped_week_num_SKU_geoCluster_sum_lag_2           float16
 57  sales_grouped_week_num_SKU_geoCluster_sum_lag_3           float16
 58  sales_grouped_week_num_SKU_geoCluster_mean_lag_2          float16
 59  sales_grouped_week_num_SKU_geoCluster_mean_lag_3          float16
 60  revanue_grouped_month_num_commodity_group_mean_lag_1      float16
 61  revanue_grouped_month_num_cityId_mean_lag_1               float16
 62  revanue_grouped_month_num_geoCluster_mean_lag_1           float16
 63  revanue_grouped_month_num_geoCluster_sum_lag_1            float16
 64  sales_grouped_month_num_commodity_group_mean_lag_1        float16
 65  sales_grouped_month_num_cityId_mean_lag_1                 float16
 66  sales_grouped_month_num_geoCluster_mean_lag_1             float16
 67  sales_grouped_month_num_geoCluster_sum_lag_1              float16
 68  sales_grouped_month_num_SKU_mean_lag_1                    float16
 69  sales_grouped_month_num_SKU_sum_lag_1                     float16
 70  revanue_grouped_month_num_SKU_sum_lag_1                   float16
 71  revanue_grouped_month_num_SKU_mean_lag_1                  float16
 72  revanue_grouped_month_num_SKU_commodity_group_sum_lag_1   float16
 73  revanue_grouped_month_num_SKU_commodity_group_mean_lag_1  float16
 74  revanue_grouped_month_num_SKU_geoCluster_sum_lag_1        float16
 75  revanue_grouped_month_num_SKU_geoCluster_mean_lag_1       float16
 76  sales_grouped_month_num_SKU_commodity_group_sum_lag_1     float16
 77  sales_grouped_month_num_SKU_commodity_group_mean_lag_1    float16
 78  sales_grouped_month_num_SKU_geoCluster_sum_lag_1          float16
 79  sales_grouped_month_num_SKU_geoCluster_mean_lag_1         float16
dtypes: datetime64[ns](1), float16(64), int32(2), int64(2), object(2), uint16(1), uint32(1), uint8(7)
memory usage: 5.4+ GB

### embeddings

In [86]:
import pickle

In [94]:
with open('word_vectors_df_final.raw','rb') as f:
    embeddings = pickle.load(f)

In [95]:
embeddings.head()

,SKU,vector_0,vector_1,vector_2,vector_3,vector_4,vector_5,vector_6,vector_7,vector_8,...,vector_10,vector_11,vector_12,vector_13,vector_14,vector_15,vector_16,vector_17,vector_18,vector_19
0,63037.0,-0.322937,-0.218963,0.122609,0.174993,-0.127130,0.672233,0.314452,0.703398,-0.749753,...,0.377655,0.358823,0.584701,-0.345298,-0.430201,0.682621,0.347170,0.440710,-0.373100,-0.594749
1,369991.0,-0.530402,-0.174640,0.669556,0.438602,-0.032044,0.589425,0.033624,-0.291766,-0.252449,...,0.654911,0.287800,0.708134,-0.425659,-0.335926,0.917610,0.296214,0.284212,-0.516138,0.192664
2,507343.0,0.511832,0.766874,0.526181,-0.115125,-0.058246,0.213906,-0.182968,0.336825,0.677556,...,-0.715574,0.655426,-0.187240,-0.188518,0.139906,0.625697,-0.311503,0.877174,-0.233270,0.337405
3,556482.0,0.659154,0.579537,-0.023390,0.132012,0.138780,-0.254804,-0.686375,0.817663,0.461126,...,-0.608602,0.589403,-0.231302,-0.571969,0.269379,0.187583,-0.512026,0.339975,-0.497821,0.599143
4,34635.0,-0.448837,-0.385543,0.110735,-0.216531,-0.374008,0.213050,0.677165,0.356484,-0.472856,...,0.343460,0.313001,0.404658,-0.677613,-0.911389,0.279153,0.462570,0.457193,-0.283232,-0.933827

In [96]:
embeddings['SKU'].nunique()

1961

In [97]:
embeddings['SKU'] = embeddings['SKU'].astype('uint32')

In [98]:
full_data = full_data.merge(embeddings, on='SKU',how='left')

In [99]:
for i in full_data.columns:
    if 'float' in str(full_data[i].dtype):
            full_data[i] = full_data[i].astype('float16')

### tf idf features

In [100]:
sku_meta = pd.read_csv('../sku_final.csv')

In [101]:
sku_meta['productCategory_caption_RU'] = sku_meta['productCategory_caption_RU'].str.lower()

In [102]:
sku_meta['SKU'].max()

874109

In [103]:
full_data['SKU'].max()

874109

In [104]:
sku_meta['SKU'].max()

874109

In [105]:
sku_meta['SKU'].max()

874109

In [106]:
len(set(sku_meta['SKU'].unique()).difference(full_data['SKU'].unique()))

0

In [107]:
description = np.hstack(sku_meta['productCategory_caption_RU'].apply(lambda x: x.split(' ')))
unique_tokens_desc, frequency_desc = np.unique(description, return_counts=True)

In [108]:
tokens = sorted(list(zip(unique_tokens_desc, frequency_desc)),key=lambda x: x[1])[::-1]

In [109]:
top_tokens = [i[0] for i in tokens[1:21]]

In [110]:
top_tokens

['собств',
 'производства',
 'сыры',
 'начинкой',
 'вода',
 'произв',
 'собственного',
 'йогурты',
 'полутвердые',
 'украины',
 'без',
 'молочные',
 'сдоба',
 'хлеб',
 'допек',
 'десерты',
 'добавками',
 'газированная',
 'добавок',
 'импортная']

In [111]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [112]:
vectorizer = TfidfVectorizer()

In [113]:
tfidf_result = vectorizer.fit_transform(sku_meta['productCategory_caption_RU'])

In [114]:
tfidf_result = pd.DataFrame(tfidf_result.todense(), columns=vectorizer.get_feature_names())

In [115]:
meta = pd.concat([sku_meta[['SKU']], tfidf_result[top_tokens]], axis=1)

In [116]:
meta.head()

,SKU,собств,производства,сыры,начинкой,вода,произв,собственного,йогурты,полутвердые,...,без,молочные,сдоба,хлеб,допек,десерты,добавками,газированная,добавок,импортная
0,17,0.0,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
1,18,0.0,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
2,24,0.0,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
3,25,0.0,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
4,208,0.0,0.0,0.0,0.0,0.50504,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.632247,0.0,0.0

In [117]:
meta.shape

(1961, 21)

In [118]:
for i in meta.columns:
    if 'float' in str(meta[i].dtype):
            meta[i] = meta[i].astype('float16')

In [119]:
len(set(full_data['SKU'].unique()).intersection(meta['SKU']))

1961

In [120]:
full_data = full_data.merge(meta, on='SKU', how='left')

In [121]:
full_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 29622473 entries, 0 to 29622472
Columns: 120 entries, ID to импортная
dtypes: datetime64[ns](1), float16(104), int32(2), int64(2), object(2), uint16(1), uint32(1), uint8(7)
memory usage: 7.6+ GB

In [122]:
dict_mapping = {'собств':'sobstv', 'производства':'proizvodstva',
'сыры':'siri', 'начинкой':'na4inkoi', 'вода':'voda', 'произв':'proizv', 
'собственного':'sobstvennogo', 'йогурты' : 'yogurty',
'полутвердые':'polytverdie', 'украины':'ukraini', 'без':'bez', 'молочные':'molochnie',
'сдоба':'sdoba', 'хлеб':'hleb', 'допек':'dopek',
'десерты':'deserti', 'добавками':'dobavkami', 'газированная':'gzirovanaya', 
'добавок':'dobavok', 'импортная':'importnaya'}

In [123]:
full_data = full_data.rename(columns=dict_mapping)

### holidays feture

In [124]:
!pip install holidays

Looking in indexes: https://pypi.org/simple, https://pip.repos.neuron.amazonaws.com
Collecting holidays
  Downloading holidays-0.11.3.1-py3-none-any.whl (155 kB)
     |████████████████████████████████| 155 kB 41.3 MB/s eta 0:00:01
Requirement already satisfied: python-dateutil in /home/ubuntu/dsteam/jupyter_env/lib/python3.8/site-packages (from holidays) (2.8.2)
Collecting korean-lunar-calendar
  Downloading korean_lunar_calendar-0.2.1-py3-none-any.whl (8.0 kB)
Collecting convertdate>=2.3.0
  Downloading convertdate-2.3.2-py3-none-any.whl (47 kB)
     |████████████████████████████████| 47 kB 9.1 MB/s  eta 0:00:01
Collecting hijri-converter
  Downloading hijri_converter-2.2.2-py3-none-any.whl (13 kB)
Requirement already satisfied: pytz>=2014.10 in /home/ubuntu/dsteam/jupyter_env/lib/python3.8/site-packages (from convertdate>=2.3.0->holidays) (2021.1)
Collecting pymeeus<=1,>=0.3.13
  Downloading PyMeeus-0.5.11.tar.gz (5.4 MB)
     |████████████████████████████████| 5.4 MB 120.4 MB/s eta 0:00:01
Requirement already satisfied: six>=1.5 in /home/ubuntu/dsteam/jupyter_env/lib/python3.8/site-packages (from python-dateutil->holidays) (1.15.0)
Building wheels for collected packages: pymeeus
  Building wheel for pymeeus (setup.py) ... done
  Created wheel for pymeeus: filename=PyMeeus-0.5.11-py3-none-any.whl size=730984 sha256=56e2543a868d5e53cece0972cc3a18c44eace5842ef633db85d7fe6b8c0540b0
  Stored in directory: /home/ubuntu/.cache/pip/wheels/a0/8b/b2/810ae5a6f970c8be4725353400d643c90de1c0f023a9884ee7
Successfully built pymeeus
Installing collected packages: pymeeus, korean-lunar-calendar, hijri-converter, convertdate, holidays
Successfully installed convertdate-2.3.2 hijri-converter-2.2.2 holidays-0.11.3.1 korean-lunar-calendar-0.2.1 pymeeus-0.5.11
WARNING: You are using pip version 21.2.4; however, version 21.3.1 is available.
You should consider upgrading via the '/home/ubuntu/dsteam/jupyter_env/bin/python3.8 -m pip install --upgrade pip' command.

In [125]:
import datetime

In [126]:
import holidays
ukr_holidays = holidays.Ukraine()
ukr_holidays_2020_2021 = {}
for date, name in sorted(holidays.Ukraine(years=2020).items()):
    print(date, name)
    ukr_holidays_2020_2021[date] = name
for date, name in sorted(holidays.Ukraine(years=2021).items()):
    print(date, name)
    ukr_holidays_2020_2021[date] = name

ukr_holidays_2020_2021[datetime.datetime(2020, 11, 23)] = 'Black Friday'
ukr_holidays_2020_2021[datetime.datetime(2020, 11, 24)] = 'Black Friday'
ukr_holidays_2020_2021[datetime.datetime(2020, 11, 25)] = 'Black Friday'
ukr_holidays_2020_2021[datetime.datetime(2020, 11, 26)] = 'Black Friday'
ukr_holidays_2020_2021[datetime.datetime(2020, 11, 27)] = 'Black Friday'
ukr_holidays_2020_2021[datetime.datetime(2020, 11, 28)] = 'Black Friday'
ukr_holidays_2020_2021[datetime.datetime(2020, 11, 29)] = 'Black Friday'
ukr_holidays_2020_2021_df = pd.DataFrame.from_dict(data = ukr_holidays_2020_2021.items())
ukr_holidays_2020_2021_df.columns = ['date','holliday_name']
ukr_holidays_2020_2021_df['date'] = pd.to_datetime(ukr_holidays_2020_2021_df['date'])
ukr_holidays_2020_2021_df['is_holiday'] = 1

2020-01-01 Новий рік
2020-01-07 Різдво Христове (православне)
2020-03-08 Міжнародний жіночий день
2020-04-19 Пасха (Великдень)
2020-05-01 День праці
2020-05-09 День перемоги
2020-06-07 Трійця
2020-06-28 День Конституції України
2020-08-24 День незалежності України
2020-10-14 День захисника України
2020-12-25 Різдво Христове (католицьке)
2021-01-01 Новий рік
2021-01-07 Різдво Христове (православне)
2021-03-08 Міжнародний жіночий день
2021-05-01 День праці
2021-05-02 Пасха (Великдень)
2021-05-09 День перемоги
2021-06-20 Трійця
2021-06-28 День Конституції України
2021-08-24 День незалежності України
2021-10-14 День захисника України
2021-12-25 Різдво Христове (католицьке)

In [127]:
ukr_holidays_2020_2021_df.head()

        date                  holliday_name  is_holiday
0 2020-01-01                      Новий рік           1
1 2020-01-07  Різдво Христове (православне)           1
2 2020-03-08       Міжнародний жіночий день           1
3 2020-04-19              Пасха (Великдень)           1
4 2020-05-01                     День праці           1

In [128]:
full_data = pd.merge(full_data, ukr_holidays_2020_2021_df[['date','is_holiday']], on = 'date', how='left')
full_data['is_holiday'].fillna(0, inplace = True)

In [129]:
full_data.shape[0]==29622473

True

In [130]:
full_data = change_type(full_data, 'is_holiday','uint8')

### is discount feature

### lockdown feature

In [131]:
lock_down = pd.read_csv('lockdown.csv')

In [132]:
lock_down.head()

         date  lockdown
0  2020-01-01         0
1  2020-01-02         0
2  2020-01-03         0
3  2020-01-04         0
4  2020-01-05         0

In [133]:
lock_down.shape

(566, 2)

In [134]:
(lock_down==1).sum()

date          0
lockdown    162
dtype: int64

In [135]:
lock_down['date'] = pd.to_datetime(lock_down['date'])

In [136]:
full_data = full_data.merge(lock_down, on='date', how='left')
full_data['lockdown'].fillna(0, inplace=True)

In [137]:
full_data = change_type(full_data, 'lockdown','uint8')

### is discount

In [139]:
discount_df = pd.read_csv('all_data_discount_short.csv')

In [140]:
discount_df.head(5)

   Unnamed: 0          ID  is_discount
0           0  RR27956447        False
1           1  RR27956448        False
2           2  RR27956449        False
3           3  RR27956450        False
4           4  RR27956451        False

In [141]:
discount_df['is_discount'] = discount_df['is_discount'].astype('uint8')

In [143]:
discount_df['is_discount'].sum()

3576695

In [144]:
discount_df['is_discount'].drop(columns='Unnamed: 0', inplace=True)

In [145]:
discount_df.shape

(29622473, 3)

In [146]:
full_data.shape

(29622473, 122)

In [147]:
full_data = full_data.merge(discount_df, on='ID', how='left')

In [149]:
full_data.isna().sum().values

array([      0,       0,       0,       0, 1666028,       0,       0,
             0,       0,       0,       0,       0,       0,       0,
             0, 1666028,       0,       0,       0,       0,       0,
             0,       0,       0,       0,       0,       0,       0,
             0,       0,       0,       0,       0,       0,       0,
             0,       0,       0,       0,       0,       0,       0,
             0,       0,       0,       0,       0,       0,       0,
             0,       0,       0,       0,       0,       0,       0,
             0,       0,       0,       0,       0,       0,       0,
             0,       0,       0,       0,       0,       0,       0,
             0,       0,       0,       0,       0,       0,       0,
             0,       0,       0,       0,       0,       0,       0,
             0,       0,       0,       0,       0,       0,       0,
             0,       0,       0,       0,       0,       0,       0,
             0,       0,       0,       0,       0,       0,       0,
             0,       0,       0,       0,       0,       0,       0,
             0,       0,       0,       0,       0,       0,       0,
             0,       0,       0,       0,       0])

In [153]:
full_data['revanue'].isna().sum()

1666028

In [154]:
full_data['sales'].isna().sum()

1666028

### mean encoding

### train-test-submission split

In [108]:
full_data.isna().sum()

ID                    0
geoCluster            0
SKU                   0
date                  0
sales           1666028
                 ...
газированная          0
добавок               0
импортная             0
is_holiday            0
lockdown              0
Length: 79, dtype: int64

In [156]:
full_data['split'] = 'train'
full_data.loc[full_data['date'].isin(dates_test), 'split'] = 'sub'

In [157]:
import datetime

In [159]:
max_date = full_data[full_data['split']=='train']['date'].max()
min_date = max_date-datetime.timedelta(days=14)

In [160]:
max_date

Timestamp('2021-07-19 00:00:00')

In [161]:
dates_val = pd.date_range(min_date, max_date)

In [162]:
dates_val

DatetimeIndex(['2021-07-05', '2021-07-06', '2021-07-07', '2021-07-08',
               '2021-07-09', '2021-07-10', '2021-07-11', '2021-07-12',
               '2021-07-13', '2021-07-14', '2021-07-15', '2021-07-16',
               '2021-07-17', '2021-07-18', '2021-07-19'],
              dtype='datetime64[ns]', freq='D')

In [163]:
full_data.loc[full_data['date'].isin(dates_val), 'split'] = 'val'

In [164]:
full_data['split'].value_counts()

train    26243450
val       1712995
sub       1666028
Name: split, dtype: int64

### mean encoding

In [1]:
import pandas as pd

In [2]:
full_data = pd.read_pickle('../processed/data_with_features.pkl')

In [9]:
def mean_encoding(df, to_group, target_col):
    #train
    mean_encoding_train = df[df['split'].isin(['train','val'])][to_group+[target_col]].groupby(to_group).agg({target_col:'mean'})
    new_col = '{}_mean_encoded_by_{}_train'.format(target_col,''.join(to_group))
    mean_encoding_train = mean_encoding_train.rename(columns={target_col:new_col})
    df = df.merge(mean_encoding_train, on=to_group, how='left')
    df[new_col] = df[new_col].fillna(0)
    #val
    mean_encoding_val = df[df['split']=='train'][to_group+[target_col]].groupby(to_group).agg({target_col:'mean'})
    new_col = '{}_mean_encoded_by_{}_val'.format(target_col,''.join(to_group))
    mean_encoding_val = mean_encoding_val.rename(columns={target_col:new_col})
    df = df.merge(mean_encoding_val, on=to_group, how='left')
    df[new_col] = df[new_col].fillna(0)

    return df

In [7]:
full_data = full_data[[i for i in full_data.columns if not 'mean_encoded' in i]]

In [10]:
full_data = mean_encoding(full_data, ['SKU'],'sales')

In [11]:
full_data = mean_encoding(full_data, ['geoCluster'],'sales')

In [12]:
full_data = mean_encoding(full_data, ['geoCluster','SKU'],'sales')

In [13]:
full_data.columns.values

array(['ID', 'geoCluster', 'SKU', 'date', 'sales', 'month', 'day',
       'weekday', 'week_num', 'commodity_group',
       'productCategory_caption_RU', 'cityId', 'price',
       'lagerUnitQuantity', 'lagerUnitTypeId', 'revanue',
       'days_on_the_market', 'days_on_the_market_geo', 'year',
       'month_num', 'revanue_grouped_week_num_commodity_group_mean_lag_2',
       'revanue_grouped_week_num_commodity_group_mean_lag_3',
       'revanue_grouped_week_num_cityId_mean_lag_2',
       'revanue_grouped_week_num_cityId_mean_lag_3',
       'revanue_grouped_week_num_geoCluster_mean_lag_2',
       'revanue_grouped_week_num_geoCluster_mean_lag_3',
       'revanue_grouped_week_num_geoCluster_sum_lag_2',
       'revanue_grouped_week_num_geoCluster_sum_lag_3',
       'sales_grouped_week_num_commodity_group_mean_lag_2',
       'sales_grouped_week_num_commodity_group_mean_lag_3',
       'sales_grouped_week_num_cityId_mean_lag_2',
       'sales_grouped_week_num_cityId_mean_lag_3',
       'sales_grouped_week_num_geoCluster_mean_lag_2',
       'sales_grouped_week_num_geoCluster_mean_lag_3',
       'sales_grouped_week_num_geoCluster_sum_lag_2',
       'sales_grouped_week_num_geoCluster_sum_lag_3',
       'sales_grouped_week_num_SKU_mean_lag_2',
       'sales_grouped_week_num_SKU_mean_lag_3',
       'sales_grouped_week_num_SKU_sum_lag_2',
       'sales_grouped_week_num_SKU_sum_lag_3',
       'revanue_grouped_week_num_SKU_sum_lag_2',
       'revanue_grouped_week_num_SKU_sum_lag_3',
       'revanue_grouped_week_num_SKU_mean_lag_2',
       'revanue_grouped_week_num_SKU_mean_lag_3',
       'revanue_grouped_week_num_SKU_commodity_group_sum_lag_2',
       'revanue_grouped_week_num_SKU_commodity_group_sum_lag_3',
       'revanue_grouped_week_num_SKU_commodity_group_mean_lag_2',
       'revanue_grouped_week_num_SKU_commodity_group_mean_lag_3',
       'revanue_grouped_week_num_SKU_geoCluster_sum_lag_2',
       'revanue_grouped_week_num_SKU_geoCluster_sum_lag_3',
       'revanue_grouped_week_num_SKU_geoCluster_mean_lag_2',
       'revanue_grouped_week_num_SKU_geoCluster_mean_lag_3',
       'sales_grouped_week_num_SKU_commodity_group_sum_lag_2',
       'sales_grouped_week_num_SKU_commodity_group_sum_lag_3',
       'sales_grouped_week_num_SKU_commodity_group_mean_lag_2',
       'sales_grouped_week_num_SKU_commodity_group_mean_lag_3',
       'sales_grouped_week_num_SKU_geoCluster_sum_lag_2',
       'sales_grouped_week_num_SKU_geoCluster_sum_lag_3',
       'sales_grouped_week_num_SKU_geoCluster_mean_lag_2',
       'sales_grouped_week_num_SKU_geoCluster_mean_lag_3',
       'revanue_grouped_month_num_commodity_group_mean_lag_1',
       'revanue_grouped_month_num_cityId_mean_lag_1',
       'revanue_grouped_month_num_geoCluster_mean_lag_1',
       'revanue_grouped_month_num_geoCluster_sum_lag_1',
       'sales_grouped_month_num_commodity_group_mean_lag_1',
       'sales_grouped_month_num_cityId_mean_lag_1',
       'sales_grouped_month_num_geoCluster_mean_lag_1',
       'sales_grouped_month_num_geoCluster_sum_lag_1',
       'sales_grouped_month_num_SKU_mean_lag_1',
       'sales_grouped_month_num_SKU_sum_lag_1',
       'revanue_grouped_month_num_SKU_sum_lag_1',
       'revanue_grouped_month_num_SKU_mean_lag_1',
       'revanue_grouped_month_num_SKU_commodity_group_sum_lag_1',
       'revanue_grouped_month_num_SKU_commodity_group_mean_lag_1',
       'revanue_grouped_month_num_SKU_geoCluster_sum_lag_1',
       'revanue_grouped_month_num_SKU_geoCluster_mean_lag_1',
       'sales_grouped_month_num_SKU_commodity_group_sum_lag_1',
       'sales_grouped_month_num_SKU_commodity_group_mean_lag_1',
       'sales_grouped_month_num_SKU_geoCluster_sum_lag_1',
       'sales_grouped_month_num_SKU_geoCluster_mean_lag_1', 'vector_0',
       'vector_1', 'vector_2', 'vector_3', 'vector_4', 'vector_5',
       'vector_6', 'vector_7', 'vector_8', 'vector_9', 'vector_10',
       'vector_11', 'vector_12', 'vector_13', 'vector_14', 'vector_15',
       'vector_16', 'vector_17', 'vector_18', 'vector_19', 'sobstv',
       'proizvodstva', 'siri', 'na4inkoi', 'voda', 'proizv',
       'sobstvennogo', 'yogurty', 'polytverdie', 'ukraini', 'bez',
       'molochnie', 'sdoba', 'hleb', 'dopek', 'deserti', 'dobavkami',
       'gzirovanaya', 'dobavok', 'importnaya', 'is_holiday', 'lockdown',
       'Unnamed: 0', 'is_discount', 'split',
       'sales_mean_encoded_by_SKU_train', 'sales_mean_encoded_by_SKU_val',
       'sales_mean_encoded_by_geoCluster_train',
       'sales_mean_encoded_by_geoCluster_val',
       'sales_mean_encoded_by_geoClusterSKU_train',
       'sales_mean_encoded_by_geoClusterSKU_val'], dtype=object)

In [14]:
full_data.shape

(29622473, 131)

### saving

In [ ]:
full_data.to_pickle('../processed/data_with_features_v2.pkl', protocol=4)

In [ ]:
full_data.shape